.custom-container {
  margin-top: 10px;
  border: 2px solid #ddd;
  height: 600px;
}

.custom-input {
  font-size: 24px !important;
  padding: 1rem !important;
  font-family: "Jost", sans-serif !important;
  font-weight: bold !important;
}

.custom-button {
  background-color: #872746 !important;
  color: white;
  font-family: "Jost", sans-serif !important;
  font-size: 20px !important;
}
